@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  @font-face {
    font-family: 'Openhuninn';
    font-style: normal;
    src: url('./fonts/jf-openhuninn-2.1.ttf') format('truetype');
  }

  a:hover {
    @apply text-primary-500;
  }
}
